<div class="modal fade" id="editTaskModal<%= todayTask.TaskID %>" tabindex="-1" role="dialog" aria-labelledby="editTaskModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editTaskModalLabel">Edit Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/task/<%= todayTask.TaskID %>" method="POST">
                 <div class="modal-body">
                    <div class="form-group">
                        <label for="TaskTitle">Task Title</label>
                        <input type="text" class="form-control" name="taskTitle" id="TaskTitle" value="<%= todayTask.TaskTitle %>">
                    </div>
                    <div class="form-group">
                        <label for="TaskDescription">Task Description</label>
                        <textarea class="form-control" id="TaskDescription" name="taskDescription"
                            rows="3"><%= todayTask.TaskDescription %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="TaskEXP">Task EXP Amount</label>
                        <select class="form-control" id="expSelect<%= todayTask.TaskID %>" name="taskEXP">
                          <option value="10">10</option>
                          <option value="20">20</option>
                          <option value="30">30</option>
                          <option value="40">40</option>
                          <option value="50">50</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Reward">Reward Title</label>
                        <input type="text" class="form-control" name="taskRewardTitle" id="reward" value="<%= todayTask.TaskRewardTitle %>">
                    </div>
                    <div class="form-group">
                        <label for="RewardDescription">Reward Description</label>
                        <textarea class="form-control" id="RewardDescription" name="taskRewardDescription" rows="3"><%= todayTask.TaskRewardDescription %></textarea>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="form-group">
                                <label for="TaskDueDate">Due Date</label>
                                <div class="input-group date" id="datetimepicker<%= todayTask.TaskID %>" data-target-input="nearest">
                                    <input type="text" name="taskDueDate" class="form-control datetimepicker-input" data-target="#datetimepicker<%= todayTask.TaskID %>"/>
                                    <div class="input-group-append" data-target="#datetimepicker<%= todayTask.TaskID %>" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker<%= todayTask.TaskID %>').datetimepicker({
                                        format: 'L',
                                        defaultDate: "<%= todayTask.TaskDueDate %>",
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Cancel</button>
                    <input type="submit" value="Save" class="btn btn-dark btn-lg">
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(function() {
        var expSelectValue = "<%= todayTask.TaskEXP %>"
        var expSelectInput = document.getElementById('expSelect<%= todayTask.TaskID %>');
        console.log(expSelectValue);
        for (var i, j = 0; i = expSelectInput.options[j]; j++) {
            if (i.value == expSelectValue) {
                expSelectInput.selectedIndex = j;
            }
        }
    });
</script>