<h1><%- title %></h1>

<h3>What are Tasks?</h3>
<p>Tasks are things you want to get done like assignments, projects, chores, etc...</p>

<h3>What are Rewards?</h3>
<p>Rewards are things you want to let yourself do or get when you complete a task like order a pizza, watch Netflix for an hour, etc...</p>

<h3>Why are the Tasks different colours?</h3>
<p>The different colours signify different EXP amounts. The values are as follows:
    <li class="pl-3">Red - 50 EXP</li>
    <li class="pl-3">Yellow - 40 EXP</li>
    <li class="pl-3">Blue - 30 EXP</li>
    <li class="pl-3">Green - 20 EXP</li>
    <li class="pl-3">Black - 10 EXP</li>
</p>

<h3>What do I do when I complete task?</h3>
<p>On the Tasks view hit the checkmark to the right of the task to complete it.</p>

<h3>How do I claim a reward?</h3>
<p>On the Rewards view hit the claim button beside the reward you want to claim.</p>

<h3>Why am I losing HP?</h3>
<p>This happens when a task's due date has passed. Do not let this happen!</p>

<h3>What happens if my HP goes to 0?</h3>
<p>You lose the game and you have to restart from the beginning.</p>

<h3>My Max HP decreases when I level up??</h3>
<p>The higher level you are, the more difficult the game gets and that is why your Max HP decreases when you level up.</p>