<div class="container">

    <div class="row">
      <div class="column text-center">
          <%- title %>
      </div>
    </div>
    
    <div class="row">
        <form action="/" method="POST" class= "row">
            <div class="column"><input type="text"  placeholder="Task Name" name="taskName" required></div>
           
           <div class="column" >
               <div class="row">
                    <input type="radio" name="exp" value="5" checked>5 exp<br>
                    <input type="radio" name="exp" value="10">10 exp<br>
               </div>
               <div class="row">
                    <input type="radio" name="exp" value="15">15 exp<br>
                    <input type="radio" name="exp" value="20">20 exp<br>
               </div>
           </div>
           <div class="column"><input type="text" placeholder="Description" name="description"></div>
           <div class="column"><input type="text"   placeholder="Reward" name="reward"
            ></div>
           <div class="column"><input type="date"  name="dueDate" required></div>
           <div class="column"><input type="submit" class="column button" value="Add"></div>
       
           
       </form>
    </div>

    <% tasks.forEach((value, key) => { %>
        <div name = "<%= value.getName();%>">
            <div class="row">
                <div class="column column-25"><h3>Task Name: <%=key %><h3></div>
                <div class="column column-25 clearfix"><button class="button float-right" onclick="editTask(this)">Edit</button></div>
                <div class="column column-25 clearfix"><button class="button float-right" onclick= "completeTask(this)">Complete</button></div>
                <div class="column colum-25 clearfix"><form action="/delete" method="post"><button class="button float-right">Delete</button>
                <input type="text" value="<%= value.getName();%>" name="deleteTaskName" hidden>
                </form>
                </div>
            </div>
            <div class="row" id="editArea">
                <p>Edit Content</p>
                <form action="/edit" method="POST" class= "row">
                <div class="column"><input type="text"  value="<%= value.getName();%>" name="editTaskName" readonly></div>
            
                <div class="column" >
                    <div class="row">
                        <input type="radio" name="editExp" id = "edit5" value="5" checked>5 exp<br>
                        <input type="radio" name="editExp" id = "edit10" value="10">10 exp<br>
                    </div>
                    <div class="row">
                        <input type="radio" name="editExp" id = "edit15" value="15">15 exp<br>
                        <input type="radio" name="editExp" id = "edit20" value="20">20 exp<br>
                    </div>
                </div>
            
                <div class="column"><input type="text" value="<%= value.getDescription();%>" name="editDescription"></div>
                <div class="column"><input type="text"   value="<%= value.getReward();%>" name="editReward"></div>
                <div class="column"><input type="date" value="<%= value.getDueDate().toISODate();%>" name="editDueDate" required></div>
                <div class="column"><input type="submit" class="column button" value="Submit"></div>
                </form>
            </div>
        </div>
    <% }); %>
    

    <script>
        function editTask(elem){
            elem = elem.parentElement.parentElement.nextElementSibling;
            if(elem.style.display === "")
            {elem.style.display = "block"}
            else if(elem.style.display === "block")
            {elem.style.display = "none"}
            else if(elem.style.display === "none")
            {elem.style.display = "block"}
        }
        function completeTask(elem){
          console.log("I am in the click handler 2!"); 
        }
        function deleteTask(elem)
        {
            console.log("delte task function")
            elem = elem.parentElement.parentElement.parentElement;
            console.log(elem.attributes.name);
        }
    </script>
</div>
  