<h1><%- title %></h1>

<!-- Start of Unearned Reward List -->
<% if (unearnedRewards.length > 0) { %>
<div class="card shadow-sm">
    <h5 class="card-header">Pending Rewards</h5>
    <ul class="list-group list-group-flush">
        <% unearnedRewards.forEach( function(unearnedReward) { %>
        <li class="list-group-item">
            <%= unearnedReward.RewardTitle %>
        </li>
        <% }); %>
    </ul>
</div>
<% } %>
<!-- End of Unearned Reward List -->

<!-- Start of Earned Reward List -->
<% if (earnedRewards.length > 0) { %>
<div class="card shadow-sm mt-5">
    <h5 class="card-header">Earned Rewards</h5>
    <ul class="list-group list-group-flush">
        <% earnedRewards.forEach( function(earnedReward) { %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= earnedReward.RewardTitle %>
            <div class="pull-right action-buttons ">
                <form action="/reward/claim/<%= earnedReward.RewardID %>" method="POST">
                    <input type="submit" value="Claim" class="btn btn-success">
                </form>
            </div>
        </li>
        <% }); %>
    </ul>
</div>
<% } %>
<!-- End of Earned Reward List -->

<!-- Start of Claimed Reward List -->
<% if (claimedRewards.length > 0) { %>
<div class="card shadow-sm mt-5">
    <h5 class="card-header">Claimed Rewards</h5>
    <ul class="list-group list-group-flush">
        <% claimedRewards.forEach( function(claimedReward) { %>
        <li class="list-group-item">
            <%= claimedReward.RewardTitle %>
        </li>
        <% }); %>
    </ul>
</div>
<% } %>
<!-- End of Claimed Reward List -->