html {
    position: relative;
    min-height: 100%;
}

.list-group-item, .list-group-item:hover {
    z-index: auto
}
.card-header-bg-dark {
    background-color: rgba(0,0,0,0.1);
}

.card-no-curve {
    border-radius: 0rem;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}



.text-date {
    font-size: 0.85rem;
}


/* COLOURS */
/* Red Colour */
.border-red { border-color:#e74a3b; }
.text-red { color: #e74a3b; }
.bg-red {background-color: #e74a3b}

/* Yellow */
.border-yellow { border-color:#f6c23e; }  /* #dda20a */
.text-yellow { color: #f6c23e; }
.bg-yellow {background-color: #f6c23e}

/* Blue */
.border-blue {border-color: #4e73df }
.text-blue {color: #4e73df }
.bg-blue {background-color: #4e73df}

/* Green Colour */
.border-green { border-color:#34bb8b; } /* #1cc88a */
.text-green { color: #34bb8b; }
.bg-green {background-color: #34bb8b}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: white;
  }